html, body{
    
}

h1.increase {
    font-size:400%
}

h4.style {
    font-size:80%;
    color: #4E4E4E;
    height:25px
}

h3.style {
    height:10px;
    padding-top:5px;
}

background {
position: absolute;
width: 550px;
height: 260px;
left: 0px;
top: 0px;
text-align: center;
color: white;

background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

lightActive {
position: absolute;
width: 550px;
height: 550px;
left: 0px;
top: 200px;
text-align: center;

background: #FBF7EE;
}